№2.3 
1. Ноутбуков от какой компании больше всего в наборе данных?
2. Какая минимальная и максимальная стоимость у ноутбуков в данных? 
    Усложнение: Вопрос касается только ноутбуков.
3. Какой самый дорогой ноутбук в данных?  
    Сделать с отдельной переменной для булевой маске по цене или логическое условие в одну строку (без дополнительной переменной)
    Выведите все характеристики только по этому ноутбуку
    Если таких ноутбуков несколько, то выводите их всех

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('laptop_price.csv', encoding='cp1251')

In [7]:
df.head(1)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69

In [9]:
type(df['Company'])

pandas.core.series.Series

In [10]:
df.Company

0        Apple
1        Apple
2           HP
3        Apple
4        Apple
         ...
1298    Lenovo
1299    Lenovo
1300    Lenovo
1301        HP
1302      Asus
Name: Company, Length: 1303, dtype: object

In [12]:
df['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

In [13]:
df['Company'].value_counts(normalize=True)

Company
Dell         0.227936
Lenovo       0.227936
HP           0.210284
Asus         0.121259
Acer         0.079048
MSI          0.041443
Toshiba      0.036838
Apple        0.016117
Samsung      0.006907
Razer        0.005372
Mediacom     0.005372
Microsoft    0.004605
Xiaomi       0.003070
Vero         0.003070
Chuwi        0.002302
Google       0.002302
Fujitsu      0.002302
LG           0.002302
Huawei       0.001535
Name: proportion, dtype: float64

In [14]:
df['TypeName'] =='Notebook'

0       False
1       False
2        True
3       False
4       False
        ...
1298    False
1299    False
1300     True
1301     True
1302     True
Name: TypeName, Length: 1303, dtype: bool

In [15]:
df[df['TypeName'] =='Notebook']

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
5,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.00
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90
11,12,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,500GB HDD,Intel HD Graphics 520,No OS,1.86kg,344.99
13,14,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,256GB SSD,AMD Radeon R5 M430,Windows 10,2.2kg,498.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,1313,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.3kg,805.99
1297,1315,Asus,X556UJ-XO044T (i7-6500U/4GB/500GB/GeForce,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,4GB,500GB HDD,Nvidia GeForce 920M,Windows 10,2.2kg,720.32
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [16]:
df[df['TypeName'] =='Notebook'].describe()

         laptop_ID      Inches  Price_euros
count   727.000000  727.000000   727.000000
mean    643.276479   15.330536   782.078624
std     381.841542    0.991550   443.972330
min       3.000000   11.600000   196.000000
25%     312.500000   15.600000   469.005000
50%     617.000000   15.600000   691.000000
75%     982.000000   15.600000   979.000000
max    1320.000000   17.300000  4899.000000

In [18]:
df[df['TypeName'] =='Notebook']['Price_euros'].max()

4899.0

In [19]:
df[df['TypeName'] =='Notebook']['Price_euros'].min()

196.0

In [25]:
df[df['Price_euros'] == df[df['TypeName'] =='Notebook']['Price_euros'].max()]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
610,617,Lenovo,Thinkpad P51,Notebook,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Xeon E3-1535M v6 3.1GHz,32GB,1TB SSD,Nvidia Quadro M2200M,Windows 10,2.5kg,4899.0

In [22]:
price_max = df[df['TypeName'] =='Notebook']['Price_euros'].max()

In [23]:
df[df['Price_euros'] ==  price_max]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
610,617,Lenovo,Thinkpad P51,Notebook,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Xeon E3-1535M v6 3.1GHz,32GB,1TB SSD,Nvidia Quadro M2200M,Windows 10,2.5kg,4899.0